body{
    background-color: blue;
}
.nav-bar{
    background-color:white;
    text-align:center;
}
.container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
img{
    width: 160px;
    height: 160px;
    border-radius:50%;
}
.vl{
    border-left: 6px solid white;
    height: 560px;
}
.manchester{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-left: 15%;
}
.manchester-text{
    font-size: 32px;
    color: white;
    margin: 5px;
}
.manchester-goal{
    color: white;
    font-size: 44px;
}
.manchester-btn-goal{
    width:150px;
    height:50px;
    margin: 5px;
    font-size:30px;
    text-transform: uppercase;
}
.manchester-foul{
    color: white;
    font-size: 44px;
}
.manchester-foul-btn{
    width:150px;
    height:50px;
    margin: 5px;
    font-size:30px;
    text-transform: uppercase;
}

/* liverpool style */
.liverpool{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-right: 15%;
}

.liverpool-text{
    font-size: 32px;
    color: white;
    margin: 5px;
}

.liverpool-goal{
    color: white;
    font-size: 44px;
}

.liverpool-btn-goal{
    width:150px;
    height:50px;
    margin: 5px;
    font-size:30px;
    text-transform: uppercase;
}
.liverpool-foul{
    color: white;
    font-size: 44px;
}
.liverpool-foul-btn{
    width:150px;
    height:50px;
    margin: 5px;
    font-size:30px;
    text-transform: uppercase;
}
.reset-btn{
    width:150px;
    height:50px;
    margin-left:  47%;
    font-size:30px;
    text-transform: uppercase;
    margin-top:15px;
}
