.container{
    background-color:plum;
    border : 1px solid;
    max-width: 200px;
    border-bottom: center;


}
h1{
    background-color:white;
    align-items:center;
}
.calculator-keys{
    margin: 1px;
    padding: 1px
    width: 100%;
}


    
    
    
    
    


    




    




    
    


    
    


